In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [20]:
snvs_table = '/storage/groups/epigenereg01/workspace/projects/vale/datasets/snvs/variants.snvs.csv.gz'
indels_table = '/storage/groups/epigenereg01/workspace/projects/vale/datasets/indels/variants.indels.csv.gz'

In [21]:
snvs_df = pd.read_csv(snvs_table, index_col=0)
snvs_df = snvs_df[snvs_df.kind.isin(('G','S'))]
snvs_df = snvs_df[['sample','chrom','pos']]
snvs_df=snvs_df[~snvs_df.pos.isna()]
snvs_df.pos = snvs_df.pos.astype(np.int64)
snvs_df_grouped = snvs_df.groupby(['sample','chrom'])['pos'].apply(lambda x:x.to_numpy())
snvs_df = snvs_df.iloc[range(0,len(snvs_df),np.int(len(snvs_df)/100000)),:]
snvs_df.head()

/home/icb/sergey.vilov/miniconda3/envs/vale/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/icb/sergey.vilov/miniconda3/envs/vale/lib/python3.6/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                          sample chrom      pos
0   TCGA-AB-3001-11A-01D-0739-09     1    73841
9   TCGA-AB-2977-11A-01D-0739-09     1   838555
18  TCGA-AB-3001-11A-01D-0739-09     1   894519
27  TCGA-AB-2977-11A-01D-0739-09     1   990380
36  TCGA-AB-3001-11A-01D-0739-09     1  1130843

In [23]:
indels_df = pd.read_csv(indels_table, index_col=0)
indels_df = indels_df[indels_df.kind.isin(('G','S'))]
indels_df = indels_df[['sample','chrom','pos']]
indels_df.pos = indels_df.pos.astype(np.int64)
indels_df_grouped = indels_df.groupby(['sample','chrom'])['pos'].apply(lambda x:x.to_numpy())
indels_df = indels_df.iloc[range(0,len(indels_df),np.int(len(indels_df)/100000)),:]
indels_df.head()

/home/icb/sergey.vilov/miniconda3/envs/vale/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/icb/sergey.vilov/miniconda3/envs/vale/lib/python3.6/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                          sample chrom     pos
0   TCGA-AB-2977-11A-01D-0739-09     1   30867
9   TCGA-AB-3001-11A-01D-0739-09     1  724948
18  TCGA-AB-3001-11A-01D-0739-09     1  790758
27  TCGA-AB-3001-11A-01D-0739-09     1  846600
36  TCGA-AB-2977-11A-01D-0739-09     1  886179

In [24]:
def neghbouring_variants_count(image_width, df1, df2):
    
    vars_tot = []
    N_tot = 0
    
    for row_idx, rec in df1.iterrows():

        pos = rec.pos
        sample_name = rec['sample']
        chrom = rec.chrom
    
        if (sample_name,chrom) in df2.index:
            vars_coord = df2.loc[sample_name,chrom] 
            vars_tot.append(np.sum((vars_coord>pos-image_width//2)&(vars_coord<=pos+image_width//2)&(vars_coord!=pos)))
    
        N_tot += 1
    
    return np.array(vars_tot), N_tot

In [25]:
image_width = 150
vars_tot,N_tot = neghbouring_variants_count(image_width, df1=snvs_df, df2=indels_df_grouped)
print(f'With SNP image width equal {image_width} there are {vars_tot.sum()/N_tot*100:.0f}% extra indels per image on average')

With SNP image width equal 150 there are 4% extra indels per image on average

In [26]:
vars_tot,N_tot = neghbouring_variants_count(image_width, df1=snvs_df, df2=snvs_df_grouped)
print(f'With SNP image width equal {image_width} there are {vars_tot.sum()/N_tot*100:.0f}% extra snvs per image on average')

With SNP image width equal 150 there are 2% extra snvs per image on average

In [27]:
vars_tot,N_tot = neghbouring_variants_count(image_width, df1=indels_df, df2=indels_df_grouped)
print(f'With INDEL image width equal {image_width} there are {vars_tot.sum()/N_tot*100:.0f}% extra indels per image on average')

With INDEL image width equal 150 there are 12% extra indels per image on average